<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="welcome-card">
      <img src="/assets/tasksImage.jpg" alt="tasks image" />
      <ion-card-header>
        <ion-card-title>Welcome to Tasks Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This APP have solutions to tasks administration in to day-to-day.</p>
      </ion-card-content>
    </ion-card>

      <ion-label>Resources</ion-label>

      <ion-item-divider >
        <ion-button (click)="openAddingModal()" style="margin: auto; min-width: 157px">
          <ion-icon slot="start" color="medium" name="add-circle-outline"></ion-icon>
          <ion-label>Adding tasks</ion-label>
        </ion-button>
      </ion-item-divider>

      <ion-item-divider>
        <ion-button (click)="openRemoveModal()" style="margin: auto; min-width: 157px">
          <ion-icon slot="start" color="medium" name="remove-circle-outline"></ion-icon>
          <ion-label>Remove tasks</ion-label>
        </ion-button>
      </ion-item-divider>

      <ion-item-divider>
        <ion-button (click)="openUpdateModal()" style="margin: auto; min-width: 157px">
          <ion-icon slot="start" color="medium" name="refresh"></ion-icon>
          <ion-label>Update tasks</ion-label>
        </ion-button>
      </ion-item-divider>

       <ion-item-divider>
          <a [routerLink]="['/list-tasks']" style="margin: auto; min-width: 157px">
            <ion-button style="margin: auto; min-width: 157px">
              <ion-icon slot="start" color="medium" name="eye"></ion-icon>
              <ion-label>List of tasks</ion-label>
            </ion-button>
          </a>
      </ion-item-divider>

    <div>
        <a class="nav-link active" routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          About
        </a>
    </div>
</ion-content>
